<div class="grid">
    {% include "footer.njk" %}
    <span class="right notice">
    Using Splinter In Prod? You can <a href="https://buymeacoffee.com/timthepost">buy Tim a coffee</a> if you're getting real value from it.</span>
</div>